<div id="containment-wrapper">
  <div id="player-in-containment-wrapper"> 
    <%= image_tag @image.url.player_image %>
  </div>

  <div id="draggable3" >
    <%= image_tag('facepalm.png') %>
  </div>

</div>

<input id="facepalm-text" class="text_input"type="text" name="facepalm-text" placeholder="Badmouth player here...">
<button type="button" id="facepalm-button" class="create_image">Facepalm!</button>