<div id="facepalmed-wrapper">
  <div id="player-in-facepalmed-wrapper"> 
    <%= image_tag @image.url.facepalm %>
    
    <div id="facepalmed-text">
      <%= @image.text %>
    </div>
  </div>

</div>

