<div id="containment-wrapper">
  <div id="player-in-containment-wrapper"> 
    <%= image_tag @image.url.player_image %>
  </div>

  <div id="draggable3" >
    <%= image_tag('facepalm.png') %>
  </div>

</div>

<input id="facepalm-text" type="text" name="facepalm-text">
<button type="button" id="facepalm-button">Facepalm!</button>